[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
clyngor = "*"
more-itertools = "*"
numpy = "*"
pandas = "*"
sympy = "*"
ipython = "*"
src = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.9"
